text-editor {

    #text-editor-form {
        background-color: #aaa;
        height: 100vh;
        width: 100%;
        margin: 50px;
        padding: 5px 105px 5px 5px;
    }

    textarea {
        font-family: 'Courier New';
        width: 100%;
        height: 300px;
    }
}
