<div id="text-editor-form">

    <input
        type="text"
        ng-model="currentFile.name">
    <div
        ui-ace="{
            mode: 'javascript',
            $blockScrolling: Infinity
        }"
        ng-model="currentFile.text"
        ng-keyup="typeHandler($event)"
        class="ace_editor">
    </div>
    <!-- <textarea
        ng-model="currentFile.text"
        id="main-editor-window">
    </textarea> -->
    <button ng-click="save(currentFile)">
        save
    </button>

    <button ng-click="runCode()">
        run
    </button>

    <div id="bottom-panel">
        <button
            ng-click="activePanel = 'console'">
            Console
        </button>
        <button
            ng-click="activePanel = 'video'">
            Video
        </button>
        <button
            ng-click="activePanel = 'whiteboard'">
            Whiteboard
        </button>

        <div
            id="console"
            ng-show="activePanel === 'console'">
            <console current-file="currentFile"></console>
        </div>

        <div
            id="whiteboard"
            ng-show="activePanel === 'whiteboard'">
            WHITEBOARD
        </div>

        <video
            video-chat
            ng-show="activePanel === 'video'"
            id="video-element"
            ng-click="startVideoChat(guestId)">
            TEXT AND SHIT
        </video>

    </div>

</div>
