<div id="left-menu">
    <div
        id="expand-right"
        ng-click="expand()">
        <span
            class="glyphicon glyphicon-menu-right"
            ng-class="{ rotated: expanded }">
        </span>
    </div>
    <div>
        <div ng-click="toggleFiles()">
            <span>My Files</span>
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="list-container" ng-class="{ expandeddown: showFiles }">
            <filelist
                user="user">
            </filelist>
        </div>
    </div>
    <div ng-click="toggleVideo()">
        <!-- <span><span>Enable</span><span ng-show="false">Disable</span> video</span> -->
        <span>Enable video</span>
        <span
            class="glyphicon glyphicon-facetime-video"
            ng-class="{ primary: videoOn }">
        </span>
    </div>
    <div>
        <div ng-click="togglePeers()">
            <span>Friends</span>
            <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="list-container" ng-class="{ expandeddown: showPeers }">
            <connected-peers
                peers="peers"
                host="user"
                file="file">
            </connected-peers>
        </div>
    </div>
    <div>
        <div ng-click="logout()" ng-if="user._id">
            <span>Logout</span>
            <span class="glyphicon glyphicon-log-out"></span>
        </div>
        <div ui-sref="home" ng-if="!user._id">
            <span class="glyphicon glyphicon-log-in"></span>
        </div>
    </div>
</div>
