navbar {
    nav {
        font-family: $title-font;
        font-size: 26px;
        padding-top: 4px;
        height: 50px;
        background-color: #111;
        color: white;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1;
        a {
            text-decoration: none;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    button {
        color: $text;
    }

    .topmenu-left {
        float: left;
    }

    .topmenu-right {
        float: right;
    }
}
