navbar {
    nav {
        height: 50px;
        background-color: black;
        color: white;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 1;
    }

    .topmenu-left {
        float: left;
    }

    .topmenu-right {
        float: right;
    }
}
