* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  overflow: hidden;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

#main-view {
    width: 100vw;
    height: 100vh;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
